# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Node.js artifacts
node_modules/
server/node_modules/
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/
backend/web/_app/
data/
remote-rumble
.env
tmp